
body {
    margin-top: 100px;
}

.container {
    display: grid;
    width: 400px;
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: -10px 10px 5px -7px rgba(0, 0, 0, 0.14);
    border: 1px solid grey;
}

ul {
    padding: 0;
    margin-bottom: 0;
}

ul li {
    list-style: none;
    border: 1px solid grey;
    border-radius: 3px;
    padding: 5px;
}

h1 {
    text-align: center;
    color: brown;
}

input {
    border: none;
    background-color: #fafafa;
    width: 100%;
}

i {
    color:brown;
    float:right;
    margin-top: auto;
}
