body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    background-color:bisque;
}

h1 {
    color: rgba(40, 3, 58, 0.922);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 80px;
}

ul .list-item, .list-title {
    list-style: none;
    padding: 10px;
    border: 1px solid #d5ffa61b;
    background: white;
}


body {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    border: none;
    width: 100%;
}

.invisible {
    visibility: hidden;
    margin-left: 5%;
}

li:hover * {
    visibility: visible;
    color: rgb(224, 22, 33);}